@font-face {
    font-family: "Ammonite";
    src: url("../police/Ammonite.otf");
   }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  h1, h2, h4{
    font-family: Ammonite;
    letter-spacing: 2px;
  }

  button{
    font-family: Roboto;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    padding-top: 30px;
}

.modal{
    display: flex;
}
.modal h5{
    text-align: start;
    padding-top: 30px;
    padding-bottom: 15px;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }