@font-face {
    font-family: "Ammonite";
    src: url("../police/Ammonite.otf");
   }

.nav{
  
    align-items: center;
    color: white;
    font-family: Ammonite;
    letter-spacing: 3px;
}


.nav-logo{
    height: 36px;
}

.active, .btn:hover {
    color: gray;
  }